<fieldset>
  <legend>Edit account</legend>
  <%- form_for :user, :url => users_path(@user), :html => { :method => :put } do |f| %>
    <%- if f.error_messages.size > 0 %>
      <div class="error"><%= f.error_messages %></div>
    <%- end %>
    <p><label>E-Mail</label> <%= f.text_field :email %></p>
    <p><label>Nombre</label> <%= f.text_field :name %></p>
    <p><label>Apellido</label> <%= f.text_field :last_name %></p>
    <p><label>Ano de nacimiento</label> <%= f.select :birth_year, year_of_birth_collection, :prompt => "-- Select --" %></p>
    <p><label>Pais</label> <%= f.select :country, country_names_collection %></p>
    <p><label>Idioma</label> <%= f.select :language, languages_collection %></p>
    <p><label>Recibir noticias en formato plano</label> <%= f.check_box :plain_format %></p>
    <p><label>Recomendar a un amigo</label></p>
    <%= render :partial => "recommendations", :locals => {:user => @user} %>
    <%= f.submit "Guardar" %>
  <%- end %>
</fieldset>
<%= link_to "Back", users_path %>