<%- if @news.size > 0 %>
  <%- @news.each do |news| %>
    <%= link_to news.title, news_path(:id => news.cross_language_id) %>
    <p>
      <%- if logged_in? %>
        <%= link_to(image_tag(news.image_path, :width => "100"), news_path(:id => news.cross_language_id)) if news.image_path %>
        <%= news.traeme_una_puntita %>
      <%- else %>
        <%= news.traeme_una_puntita %>
        <%= link_to t(:read), news_path(:id => news.cross_language_id) %>
      <%- end %>
    </p>
    <br />
  <%- end %>
<%- end %>
<% if logged_in? and current_user.is_a? AdminUser %>
  <%= link_to "Nueva notice!", new_news_path %>
<% end %>