<%- if @news.size > 0 %>
  <%- @news.each do |news| %>
    <%= news.title %>
    <p>
      <%- if logged_in? %>
        <%= news.text %>
      <%- else %>
        <%= news.traeme_una_puntita %>
        <%= link_to t(:read), news_path(:id => news.cross_language_id) %>
      <%- end %>
    </p>
    <br />
  <%- end %>
<%- end %>
<%= link_to "Nueva notice!", new_news_path %>