<h1><%= @news.title %></h1>
<%= link_to "edit", edit_news_path(:id => @news.id) if logged_in? and is_news_writer? %>
<%- if logged_in? and is_news_writer? and @news.missing_languages.size > 0 %>
  <%- @news.missing_languages.each do |l| %>
    <%= link_to "#{t(:translate_into)} #{nombre_idioma(l)}", new_news_path(:localization => @news.cross_language_id, :language => l) %>
  <%- end %>
<%- end %>
<br />
<%= image_tag(@news.image_path, :width => "300") if @news.image_path %>
<%- if logged_in? %>
  <%= @news.text %>
<%- else %>
  <%= @news.traeme_una_puntita %>
<%- end %>
<%- @news.other_languages.each do |language| %>
  <%= link_to "#{t(:read_it_in)} #{nombre_idioma(language)}", news_path(:locale => language, :id => @news.cross_language_id) %>
<%- end %>
<div class="tags">
  <% if @news.tags.size > 0 %>
    <ul>
      <% @news.tags.each do |tag| %>
        <li>
          <%= tag.label %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>