<%- form_for :user_session, :url => user_session_path do |f| %>
  <%= f.label :username, t(:username) %>
  <%= f.text_field :username %>
  <%= f.label :password, t(:password) %>
  <%= f.password_field :password %>
  <em><%= flash[:notice] %></em>
  <br />
  <button type="submit"><%= t(:register) %></button>
<%- end %>