<div id="head">
  <div id="login">
    <div id="login-bot">
      <div id="login-box">
        <div><h2>Welcome</h2></div>
        <h3><%= link_to "First Time Users Click Here", :controller => 'users', :action => 'new', :first_time => true %></h3>
      </div>
      <div id="login-welcome">
        <h2 class="login">Login</h2>
        <%- form_for @user_session, :url => user_session_path do |f| %>
          <div id="login-username">
            <div><%= f.text_field :username %></div>
            <div><%= f.password_field :password %></div>
            <em><%= flash[:notice] %></em>
            <br />
            <ul>
              <li><button type="submit">Login</button></li>
              <li><%= link_to "Forgot password?", new_password_reset_path %></li>
            </ul>
          </div>
          <div class="clear">
            <div class="reg">
              Simulscribe 2009
            </div>
          </div>
        <%- end %>
      </div>
      <div class="clear" />
    </div>
  </div>
</div>
