<div id="altidus-logo">
  <%= link_to image_tag(File.join(I18n.locale, "altidus.png")), root_url %>
</div>
<div id="navigation-bar">
  <%= render :partial => "layouts/home/navigation_bar" %>
</div>
<div id="search">
  <%= render :partial => "layouts/home/search" %>
</div>
<div id="language-selector">
  <%= render :partial => "layouts/home/language_selector" %>
</div>
<%= link_to "Logout", logout_path if logged_in? %>